body{
    margin: 0;
    overflow-x: hidden;
}
.container-fluid{
    background-color: white;
    margin: 0;
}
/*Header*/
.main-header{
    background-color: white;
    width: 100vw;
}
.brand-icon{
    height: 75px;
    display: flex;
    justify-content: center;
}
.header-brand{
    margin-top:50px;
}
/*Email subscription*/
.email-sub{
    margin: 5px;
}
.email-input{
    border: 1px solid#01a1dd;
    padding: 10px;
    width: 80%;
    max-width: 400px;
}
.coffee-head{
    width: 100vw;
}
.coffee-photo{
    margin-top: 50px;
    width: 95vw;
}
/*comp values*/
.comp-values{
    margin-top: 100px;
}
.coffee-quote{
    margin-top: 50px;
}
.comp-organic{
    margin-top: 50px;
    margin-bottom: 40px;
}
/*.comp-pic1{
    max-width: 1000px;
    max-height: 647px;
}
.comp-pic2{
    max-width: 1000px;
    max-height: 647px;
}*/
/*Product*/
.product-showcase{
    margin-top: 50px`;
}
.coffee-link{
    color: black;
}
.product-1{
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 360px;


}
.product-2{
    width: 100%;
    max-height: 360px;


}
.product-3{
    width: 100%;
    max-height: 360px;


}
a:hover{
    color: #01a1dd;
}
/*Closing*/
.closing{
    font-size: 10px;
}
.closing-links{
    margin-top: 40px;
    margin-left: 15px;
    color: black;
} 